.centerer {
  --width: 100vw;

  display: flex;
  justify-content: center;
  transition: 0.3s;
}

:global(.menuPinned) .centerer {
  --width: calc(100vw - var(--menuOpenedWidth));

  margin-left: var(--menuOpenedWidth);
}

.content {
  padding-inline: 24px;
  width: var(--width);
  height: 100svh;
  max-width: 1600px;
  transition: 0.3s;
  container-type: inline-size;
  overflow: auto;
  background-color: var(--color-content-background);
}
