.centerer {
  --margins: calc(var(--menuClosedSize) + var(--menuBorderWidth) * 2 + var(--menuMargin) * 2);

  margin-left: -20px;
  padding-left: max(calc(var(--margins) - (100vw - 100cqw) / 2 + 20px), 20px);
  min-height: var(--margins);
  display: flex;
  align-items: center;
  position: sticky;
  background: linear-gradient(
    to top,
    transparent,
    color-mix(in oklch, var(--color-content-background), transparent) 5px,
    var(--color-content-background) 15px
  );
  top: 0;
}

.title {
  font-size: 40px;
  font-weight: 500;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.blur {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px);
  mask-image: linear-gradient(to top, transparent, var(--color-content-background) 15px);
}
