@use 'styles/mixins' as *;

.menu {
  background-color: var(--color-menu-background);
  position: fixed;
  left: var(--menuMargin);
  top: var(--menuMargin);
  width: calc(var(--menuClosedSize));
  height: var(--menuClosedSize);
  border-radius: calc(var(--menuClosedSize) / 2);
  border: var(--menuBorderWidth) solid var(--color-text);
  overflow: hidden;
  z-index: 1;
  transition:
    border 0s,
    0.3s;

  &.opened {
    --menuMargin: 28px;

    width: var(--menuOpenedWidth);
    height: calc(100vh - 2 * var(--menuMargin));
    border-color: var(--color-accent);

    .contents {
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) .item {
          transition-delay: #{0.04s + $i * 0.02s};
        }
      }
    }
  }

  &:not(.opened) {
    .item {
      padding: 11px;
    }
  }

  @include hover {
    border: var(--menuBorderWidth) solid var(--color-accent);
  }
}

:global(.menuPinned) .menu {
  --menuMargin: 0px;

  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 0;

  .content {
    & > .item:first-child {
      margin-bottom: calc(-1 * (var(--padding) + var(--iconSize)));
      opacity: 0;
      pointer-events: none;
    }

    & > .item:last-child {
      color: var(--color-accent);
    }
  }
}

.content {
  width: calc(var(--menuOpenedWidth) - 2 * var(--menuBorderWidth));
  height: calc(100vh - 2 * var(--menuMargin) - 2 * var(--menuBorderWidth));
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.list {
  flex-grow: 1;
}

.contents {
  display: contents;
}

.item {
  --padding: 16px;
  --iconSize: 24px;

  padding: var(--padding);
  display: flex;
  align-items: center;
  gap: 16px;
  transition: 0.3s;

  @include hover {
    color: var(--color-accent);
  }
}

:global(.narrowScreen) .content > .item:last-child {
  opacity: 0;
  pointer-events: none;
}

.icon {
  width: var(--iconSize);
  height: var(--iconSize);

  * {
    transition: color 0.3s;
  }
}

.label {
  transition: color 0.3s;
}

.logo {
  padding-block: 10px;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}
