@font-face {
  font-family: Roboto;
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  font-stretch: 100%;
  src: url('../assets/fonts/Roboto-Thin.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  font-style: normal;
  font-weight: 200;
  font-stretch: 100%;
  src: url('../assets/fonts/Roboto-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url('../assets/fonts/Roboto-Light.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url('../assets/fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  src: url('../assets/fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  src: url('../assets/fonts/Roboto-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url('../assets/fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  src: url('../assets/fonts/Roboto-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  src: url('../assets/fonts/Roboto-Black.woff2') format('woff2');
}
